.item {
    width: 2rem;
    cursor: pointer;
}

.item img {
    width: 64px;
    height: 64px;
    image-rendering: pixelated;
}

.item-info {
    font-size: 19.3px;
    text-align: left;
    border: 2px solid rgb(28, 1, 66);
    /*same as hypixel font size*/
    visibility: hidden;
    opacity: 0;
    width: 400px;
    background-color: black;
}

.item:hover .item-info {
    visibility: visible;
    opacity: 1;
}

p {
    width: 400px;
}

#player_profile {
    margin-top: 2.2rem;
    width: 70%;
    height: 1.2rem;
    float: right;
    color: white;
}