html {
    font-size: 35px;
}

* {
    color: rgb(95, 250, 48);
    margin: 0;
}

body {
    height: 100vh;
    background-color: black;
}

select,
input,
button {
    height: 1.9rem;
    border: solid white 1px;
    box-sizing: border-box;
    background-color: black;
    text-align: center;
    font-size: 1rem;
}

input:hover,
button:hover,
select:hover {
    border-radius: 0.6rem;
}

div {
    text-align: center;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#profiles {
    width: 7rem;
    color: grey;
}

.display {
    font-size: 0.5rem;
    text-align: left;
    display: block;
}