.frame {
    width: 75px;
    height: 75px;
    cursor: pointer;
    background-color: aqua;
}

.item-image {
    width: 64px;
    height: 64px;
    background-size: contain;
    background-repeat: no-repeat;
    image-rendering: pixelated;
}

.item-info {
    position: absolute;
    font-size: 19.3px;
    text-align: left;
    border: 2px solid rgb(28, 1, 66);
    /*same as hypixel font size*/
    visibility: hidden;
    opacity: 0;
    width: 500px;
    background-color: black;
}

.frame:hover+.item-info {
    visibility: visible;
    opacity: 1;
}